<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Warning!</h1>
    <p>
      Your invoice has warnings during validation: <%= @xml_file_name %><br/>
    </p>
  </body>
</html>
