
<p>
<input type="hidden" id="top_10_clients_data" value="<%= @top_10_clients %>"/>
Top 10 clients of the year:<br/><span id="top_10_clients">Loading..</span>
</p>

<br/>

<p>
<input type="hidden" id="top_10_suppliers_data" value="<%= @top_10_suppliers %>"/>
Top 10 suppliers of the year:<br/><span id="top_10_suppliers">Loading..</span>
</p>
    
